In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
     ---------------------------------------- 6.3/6.3 MB 1.1 MB/s eta 0:00:00
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     -------------------------------------- 384.9/384.9 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: sniffio in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nikhi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nikhi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB 3.2 MB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [1]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [50]:
#1
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

In [51]:
driver.get("https://www.naukri.com/")

In [52]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [53]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

In [54]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [55]:
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [56]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    Job_title.append(i.text)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    Job_location.append(i.text)
    
name_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    Company_name.append(i.text)
    
experiance_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experiance_tags[0:10]:
    Experience_required.append(i.text)

In [57]:
print(len(Job_title),len(Job_location),len(Company_name),len(Experience_required))

10 10 10 10

In [58]:
df = pd.DataFrame({'Job Title':Job_title,'Job Location':Job_location,'Company Name':Company_name,'Experience Required':Experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - New Delhi, Bangalore/Bengaluru, Mumba...",Sejal Consulting Hub,0-5 Yrs
2,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
3,Manager/Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
5,Manager - Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Huquo Consulting Pvt. Ltd,3-8 Yrs
6,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Data Analyst / Sr. Data Analyst / Lead,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Client Of Logical Hiring,3-12 Yrs

In [77]:
#2
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

In [78]:
driver.get("https://www.naukri.com/")

In [79]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [80]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

In [81]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [82]:
DSJob_title = []
DSJob_location = []
DSCompany_name = []

In [83]:
DStitle_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in DStitle_tags[0:10]:
    DSJob_title.append(i.text)
    
DSlocation_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in DSlocation_tags[0:10]:
    DSJob_location.append(i.text)
    
DSname_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in DSname_tags[0:10]:
    DSCompany_name.append(i.text)

In [84]:
print(len(DSJob_title),len(DSJob_location),len(DSCompany_name))

10 10 10

In [85]:
df = pd.DataFrame({'Job Title':DSJob_title,'Job Location':DSJob_location,'Company Name':DSCompany_name})
df

,Job Title,Job Location,Company Name
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra
2,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
4,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft
5,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft
6,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco
7,Data Scientist,Bangalore/Bengaluru,Infosys
8,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks
9,Research Scientist,Bangalore/Bengaluru,Siemens

In [86]:
#3
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [87]:
driver.get('http://www.naukri.com/')

In [88]:
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [89]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Delhi/NCR')

In [90]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [91]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [92]:
DJob_title = []
DJob_loc = []
DCOm_name = []
DJob_experience = []

In [93]:
Djobtitle = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in Djobtitle[0:10]:
    DJob_title.append(i.text)
    
Djoblocation = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in Djoblocation[0:10]:
    DJob_loc.append(i.text)
    
Dcompanyname = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Dcompanyname[0:10]:
    DCOm_name.append(i.text)
    
Dexperience = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in Dexperience[0:10]:
    DJob_experience.append(i.text)

In [94]:
print(len(DJob_title),len(DJob_loc),len(DCOm_name),len(DJob_experience))

10 10 10 10

In [95]:
df = pd.DataFrame({'Job title':DJob_title,'Location':DJob_loc,'Company':DCOm_name,'Experience':DJob_experience})
df

,Job title,Location,Company,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
2,Data Scientist - NLP (looking For early joiners),"Temp. WFH - Pune, Chennai, Bangalore/Bengaluru",Wipro,4-9 Yrs
3,Software Engineer Staff,Bangalore/Bengaluru,Juniper Networks,3-8 Yrs
4,Technology Analyst - Data Science / Machine Le...,Bangalore/Bengaluru,Infosys,3-5 Yrs
5,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron,5-10 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs
8,SnapLogic Data Science Practitioner,Mumbai,Accenture,2-4 Yrs
9,Analyst - Data Scientist,Mumbai,UPL Limited,2-3 Yrs

In [141]:
#4
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [142]:
driver.get('http://www.flipkart.com/')

In [143]:
product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('Sunglasses')

In [144]:
#close = driver.find_element(By.CLASS_NAME,'_2KpZ6l _2doB4z')
#close.click()

In [150]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [151]:
Brand = []
Product_discription = []
Price = []

In [152]:
start = 0 
end = 3
for page in range(start,end):
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name:
        Brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
    
for page in range(start,end):
    pro_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro_dis:
        Product_discription.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
for page in range(start,end):
    pro_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    for i in pro_dis:
        Product_discription.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

    
for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [153]:
print(len(Brand),len(Product_discription),len(Price))

120 120 120

In [157]:
df = pd.DataFrame({'Brand':Brand[0:100],'Product discription':Product_discription[0:100],'Price':Price[0:100]})
df

             Brand                                Product discription Price
0    VINCENT CHASE      Polarized Retro Square Sunglasses (Free Size)  ₹519
1   ROZZETTA CRAFT         UV Protection Retro Square Sunglasses (54)  ₹258
2         Fastrack  Night Vision, Polarized, UV Protection, Riding...  ₹281
3        Elligator  UV Protection, Gradient Rectangular Sunglasses...  ₹399
4         Fastrack  by Lenskart Polarized, UV Protection Aviator S...  ₹579
..             ...                                                ...   ...
95          Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹649
96          PIRASO  by Lenskart Polarized, UV Protection Aviator S...  ₹199
97        Fastrack  UV Protection, Night Vision Retro Square Sungl...  ₹386
98          PIRASO  by Lenskart Polarized, UV Protection Aviator S...  ₹159
99  ROZZETTA CRAFT  Riding Glasses, Toughened Glass Lens, UV Prote...  ₹664

[100 rows x 3 columns]

In [37]:
#5
driver = webdriver.Chrome(r"C:\New folder\chromedriver.exe")

In [10]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [23]:
Rating = []
Review_summary = []
Full_review = []

In [24]:
start = 0
end = 10
for page in range(start,end):
    rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    
    
for page in range(start,end):
    rev_sum = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_sum:
        Review_summary.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    
for page in range(start,end):
    review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        Full_review.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [25]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [26]:
df = pd.DataFrame({'Rating':Rating,'Review Summary':Review_summary,'Full Review':Full_review})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
98,5,Perfect product!,It is just awesome mobile for this price from ...
99,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...

In [38]:
#6
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [39]:
driver.get('http://www.flipkart.com/')

In [40]:
product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('Sneakers')

In [43]:
search = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [42]:
Brand = []
Product_discription = []
Price = []

In [34]:
start = 0 
end = 3
for page in range(start,end):
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name:
        Brand.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
    
    
for page in range(start,end):
    pro_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro_dis:
        Product_discription.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
for page in range(start,end):
    pro_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    for i in pro_dis:
        Product_discription.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

    
for page in range(start,end):
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [35]:
print(len(Brand),len(Product_discription),len(Price))

120 122 120

In [36]:
df = pd.DataFrame({'Brand':Brand[0:100],'Product discription':Product_discription[0:100],'Price':Price[0:100]})
df

              Brand                                Product discription   Price
0          RED TAPE  2006 Trenddy Fashion Sporty Casuals Sneakers R...    ₹399
1        HIGHLANDER  5011-Latest Collection Stylish & Trendy Casual...    ₹499
2            Kraasa                        ACTIVE RUN Sneakers For Men    ₹199
3               GVR  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹1,047
4              PUMA                                   Sneakers For Men    ₹282
..              ...                                                ...     ...
95           BRUTON  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹599
96            Sparx                                 Sneakers For Women  ₹1,319
97       HIGHLANDER             2 Combo Sneaker Shoes Sneakers For Men    ₹399
98  U.S. POLO ASSN.                            SM-671 Sneakers For Men    ₹449
99             aadi  Future-04 casual shoes for men | Latest Stylis...    ₹799

[100 rows x 3 columns]

In [79]:
#7
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [80]:
driver.get('https://www.amazon.in/')driver.get('https://www.amazon.in/')

In [81]:
product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [82]:
search = driver.find_element(By.CLASS_NAME,'nav-right')
search.click()

In [78]:
tags = driver.find_element(By.XPATH,'//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')
tags.click()

In [66]:
Title = []
Ratings = []
Price = []

In [67]:
start = 0
end = 5
for page in range(start,end):
    title_tags = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
    for i in title_tags:
        Title.append(i.text)
    next_page = driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_page.click()
    time.sleep(3)

for page in range(start,end):
    ratings_tags = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
    for i in ratings_tags:
        Ratings.append(i.text)
    next_page = driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_page.click()
    time.sleep(3)
    
for page in range(start,end):
    price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in price_tags:
        Price.append(i.text)
    next_page = driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_page.click()
    time.sleep(3)

In [68]:
print(len(Title),len(Ratings),len(Price))

110 139 108

In [85]:
df = pd.DataFrame({'Title':Title[0:100],'Ratings':Ratings[0:100],'Price':Price[0:100]})
df

                                                Title Ratings     Price
0   Sponsored\nHP Chromebook 11a, MediaTek MT8183 ...            54,990
1   Sponsored\nHP Chromebook MediaTek Kompanio 500...            94,490
2   (Renewed) Dell Latitude E5470 Intel Core i5 6t...            22,509
3   HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...            55,190
4   ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...          1,00,569
..                                                ...     ...       ...
95  Mi Notebook Pro QHD+ IPS Anti-Glare Display In...            89,490
96  ASUS VivoBook 14 (2021), Intel Core i5-1135G7 ...            84,500
97  ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...          1,03,990
98  Sponsored\nLenovo IdeaPad Slim 3 Intel Core i5...            34,990
99  Sponsored\nASUS Vivobook 14, 14.0-inch (35.56 ...            34,310

[100 rows x 3 columns]

In [141]:
#8
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [142]:
driver.get('http://www.azquotes.com/')

In [143]:
quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quotes.click()

In [167]:
Quote = []
Author = []
Types_of_quote = []

In [145]:
start = 0
end = 10
for page in range(start,end):
    quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        Quote.append(i.text)
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_page.click()
    time.sleep(3)
    
for page in range(start,end):
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        Author.append(i.text)
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_page.click()
    time.sleep(3)

for page in range(start,end):
    types_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types_tags:
        Types_of_quote.append(i.text)
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_page.click()
    time.sleep(3)

In [140]:
print(len(Quote),len(Author),len(Types_of_quote))

1000 1000 1000

In [146]:
df = pd.DataFrame({'Quote':Quote,'Author':Author,'Types of quote':Types_of_quote})
df

,Quote,Author,Types of quote
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Charles Kettering,"Inspirational, Motivational, Teacher"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [2]:
#9
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [3]:
driver.get('http://www.jagranjosh.com/')

In [4]:
gk_tags = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk_tags.click()

In [5]:
minister_tags = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
minister_tags.click()

In [6]:
Name = []
Born_Dead = []
Term_of_office = []
Remarks = []

In [7]:
name_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags:
    Name.append(i.text)
Name

['Jawahar Lal Nehru']

In [8]:
#10
driver = webdriver.Chrome(r'C:\New folder\webdriver.exe')

In [9]:
driver.get('https://www.motor1.com/')

In [10]:
features_tags = driver.find_element(By.XPATH,'//li[@class="grand left top mobile dropdown"]')
features_tags.click()

In [11]:
list_tags = driver.find_element(By.XPATH,'//a[@href="/features/category/lists/"][1]')
list_tags.click()

In [12]:
top_tags = driver.find_element(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]')
top_tags.click()

In [13]:
Name = []
Price = []

In [14]:
name_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:50]:
    Name.append(i.text)
    time.sleep(3)

In [50]:
len(Name)

50